body {
  background-color: #000;
  font-family: 'Arial', sans-serif;
  color: #FFD700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  border: 2px solid #FFD700;
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
  background-color: #111;
  box-shadow: 0 0 20px #FFD700;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #FFD700;
  background: #000;
  color: #FFD700;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 5px #FFD700;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #FFD700;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #e5c100;
}

a {
  color: #FFD700;
  text-decoration: underline;
  font-size: 0.9rem;
}
